---
Language: Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 8
TypenameMacros: ['STACK_OF']
---
Language: Java
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 8
JavaImportGroups:
- android
- androidx
- com.android
- dalvik
- libcore
- com
- junit
- net
- org
- java
- javax
